li {
    line-height: 2rem;
    width: 15rem;
    text-align: right;
    list-style: none;
    font-size: 1.2rem;
}

li:nth-child(even)
{
    background-color: rgb(240, 240, 240);
}

input {
    text-align: right;
    float: right;
    margin-left: 2rem;
    margin-top: 1em;
}